<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    
    $(document).ready(function () {
        $('click').click(function () { 
            $('#show').html(a);
        });
    });
</script>
<button id="click">CLick</button>
<div id="show"></div>